<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	th:fragment="page"
	>
	<head th:replace="fragments/ace-admin/header :: header(~{::title},~{::link})">
		<link rel="stylesheet">
		<!-- 2017.08.23 由header-template完成加载
		<link rel="stylesheet" th:href="@{/static/styles/theme.css}" />
		 -->
	</head>

	<body class="no-skin">
		
		<div th:replace="fragments/ace-admin/nav :: nav"/>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div th:replace="fragments/ace-admin/sidebar :: sidebar"/>

			<div th:replace="fragments/ace-admin/content :: content"/>

			<div th:replace="fragments/ace-admin/footer :: footer"/>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script th:src="@{/static/ui-template/AceAdmin/js/ace-elements.min.js}"></script>
		<script th:src="@{/static/ui-template/AceAdmin/js/ace.min.js}"></script>

		<!-- inline scripts related to this page -->
	</body>
</html>
