<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	th:fragment="page"
	>
<head th:replace="fragments/adminlte/header :: header(~{::title},~{::link})">
	<link rel="stylesheet">
	<!-- 2017.08.23 由header-template完成加载
	<link rel="stylesheet" th:href="@{/static/styles/theme.css}" />
	 -->
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header th:replace="fragments/adminlte/main-header :: main-header"/>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="fragments/adminlte/main-sidebar :: main-sidebar"/>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section th:replace="fragments/adminlte/content-header :: content-header"/>

    <!-- Main content --><!-- 2017.08.23 这里使用th:include非常非常重要！！ -->
    <section class="content container-fluid" th:include="this :: main-content" >

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer th:replace="fragments/adminlte/footer :: footer"/>


  <!-- Control Sidebar -->
  <th:block th:replace="fragments/adminlte/control-sidebar :: control-sidebar"/>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->


<script th:src="@{/static/ui-template/AdminLTE/js/adminlte.min.js}"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>

</html>