<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans     
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	">
	
	<!-- 注册一个JDBC数据源事务管理器 -->
	<bean id="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- jpa事务管理器 -->
    <bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
	
	<!-- 基于@Transactional注解方式的事务管理(也可以改用jdbcTransactionManager)  根据需要选择-->
	<!-- 20150818,测试activiti时改用jdbc,因为使用mybatis访问数据库 -->
	<tx:annotation-driven transaction-manager="jpaTransactionManager"/>
   
	<!-- 配置事务的传播特性  transaction-manager指定事务管理器为hibernateTransactionManager(也可以改用jdbcTransactionManager)-->
	<tx:advice id="txAdvice" transaction-manager="jpaTransactionManager">
		<tx:attributes>
			<!-- 需要启动事务的业务逻辑，如果当前没有事务，则新建一个事务-->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="delete*" propagation="REQUIRED" no-rollback-for="IOException" />
			<tx:method name="create*" propagation="REQUIRED"  rollback-for="DataAccessException"/>
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" />
			<!-- 设定其他方法不启用事务-->
			<tx:method name="*"  read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 使用AOP实现事务管理，指定哪些类的哪些方法参与事务管理 （txAdvice是在spring-hibernate中定义的一个tx:advice 用于确定哪些事务需要处理）-->
	<aop:config proxy-target-class="true"><!-- 加上proxy-target-class="true" 是为了解决spring 事务异常 Proxy12的错误 -->
		<!--定义一个事务切入点，拦截指定包中的指定方法-->
		<aop:pointcut id="txPointcut" expression="execution(* *.db.repository..impl.*(..))" />
		<!-- 引用txAdvice事务通知-->
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice" />

	</aop:config>
	
	<!-- 2017.07.15 Dao的Parent类也需要加入事务才能正常运行 -->
	<aop:config proxy-target-class="true">
		<!--定义一个事务切入点，拦截指定包中的指定方法-->
		<aop:pointcut id="txPointcut" expression="execution(* common.db.base.jpa.AbstractJpaDaoImpl.*(..))" />
		<!-- 引用txAdvice事务通知-->
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice" />
	</aop:config>
		
</beans>