<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans     
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	">
	<!-- 重要： 整个系统中只能设置一次 加载资源文件  其中包含变量信息，必须在Spring配置文件的最前面加载，即第一个加载-->
	<context:property-placeholder location="classpath:db.properties,classpath:system.properties" />
   
	<!-- 开启Spring的Bean自动扫描机制来查找与管理Bean实例 ,需要注解才能生效
	<context:component-scan base-package="common.db.service.*.impl" />	    
	-->
	<context:component-scan base-package="com.itxxz" use-default-filters="false">  
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />  
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />  
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />  
    </context:component-scan>  
    
	<bean id="userDao" class="common.db.repository.jpa.identity.impl.UserDaoImpl">
		
	</bean> 
	
	<bean id="roleDao" class="common.db.repository.jpa.identity.impl.RoleDaoImpl">
		
	</bean> 
       
	<!--  这里开始定义Spring bean例子  -->
	
	
	<!-- 当需要与其他系统对接时提供SystemIntegrationHelper接口的实现类 -->
	<bean id="systemIntegrationHelper" class="prj.web.utils.SystemIntegratorImpl"/> 
	 
</beans>