<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans     
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	">
	
	<!-- 注册一个JDBC数据源事务管理器 -->
	<bean id="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- jpa事务管理器 -->
    <bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
	
	<!-- 基于@Transactional注解方式的事务管理(也可以改用jdbcTransactionManager)  根据需要选择-->
	<!-- 20150818,测试activiti时改用jdbc,因为使用mybatis访问数据库 -->
	<tx:annotation-driven transaction-manager="jdbcTransactionManager"/>
   
	<!-- 配置事务的传播特性  transaction-manager指定事务管理器为hibernateTransactionManager(也可以改用jdbcTransactionManager)-->
	<tx:advice id="txAdvice" transaction-manager="jpaTransactionManager">
		<tx:attributes>
			<!-- 需要启动事务的业务逻辑，如果当前没有事务，则新建一个事务-->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="delete*" propagation="REQUIRED" no-rollback-for="IOException" />
			<tx:method name="create*" propagation="REQUIRED"  rollback-for="DataAccessException"/>
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" />
			<!-- 设定其他方法不启用事务-->
			<tx:method name="*"  read-only="true"/>
		</tx:attributes>
	</tx:advice>
		
</beans>