<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title,links)">

	<!-- 2017.08.18 springsecurity 在提交数据时需要需要提供csrf ，在 head中的是为fetch/ajax准备的 -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- 使用范例
    $(function () {
	  var token = $("meta[name='_csrf']").attr("content");
	  var header = $("meta[name='_csrf_header']").attr("content");
	  $(document).ajaxSend(function(e, xhr, options) {
	    xhr.setRequestHeader(header, token);
	  });
	});
	
     -->
     
     <!--2017.08.18  非常重要的写法，使用springsecurity后想用post上传文件，则必须在action中附加csrf字段,以下为thymeleaf标准写法，其中的（。。。）会标准生成url中的？
		 <form action="${logoutUrl}" th:action="@{module/upload(${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data"> 
			 <select name="moduleName">
				<option th:each="module : ${modules}" th:value="${module.name}" th:text="${module.name}">module</option>
			</select>
		 	<input type="file" name="file"/>
			<button type="submit" class="btn btn-default">upload</button>
		</form>
		 -->
    <!--2017.08.18 为确保在线，刷新用，但当前content为空
	<meta http-equiv="refresh" th:attr="content=${session.maxInactiveInterval}"/>
	 -->
	<meta charset="UTF-8" />
	<title th:replace="${title}">The awesome application</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" th:href="@{/static/img/favicon.gif}"
		type="image/gif" />
	
	<!-- 2017.08.17 特别注意：如果不加static，会违反security对静态文件的放行规则 -->
	<link rel="stylesheet" href="../../../styles/bootstrap.min.css" th:href="@{/static/vendor/bootstrap3/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/static/vendor/font-awesome4/css/font-awesome.min.css}" />
	<!-- 对应root目录
	<link rel="stylesheet" th:href="@{/resources/css/jquery.ui.customer.css}" />
	 -->
	<script th:src="@{/static/vendor/jquery.min.js}"></script>
	<script th:src="@{/static/vendor/bootstrap3/js/bootstrap.min.js}"></script>
	
	<!--/* Per-page placeholder for additional links */-->

	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{/static/ui-template/Bracket/css/style.default.css}">
	<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
	        page. However, you can choose any other skin. Make sure you
	        apply the skin class to the body tag so the changes take effect. -->
	
  	<th:block th:replace="${links}" />
  	
	<style type="text/css">

	</style>
</head>
<body>

</body>
</html>