<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body >
 <div class="mainpanel" th:fragment="main-panel">

    <div th:replace="fragments/Bracket/header-bar :: header-bar"></div>

    <div class="pageheader">
      <h2><i class="fa fa-home"></i> Dashboard <span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Bracket</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>

<!-- contentpanel -->
    <div class="contentpanel" th:include="this :: main-content"/>


  </div><!-- mainpanel -->
</body>

</html>