<td>{{pd.id}}</td>
<td>{{pd.deploymentId}}</td>
<td>{{pd.name}}</td>
<td>{{pd.key}}</td>
<td>{{pd.version}}</td>
<td><a target="_blank" href="{{ctx}}/workflow/read-resource?pdid={{pd.id}}&resourceName={{pd.resourceName}}">{{pd.resourceName}}</a></td>
<td><a target="_blank" href="{{ctx}}/workflow/read-resource?pdid={{pd.id}}&resourceName={{pd.diagramResourceName}}">{{pd.diagramResourceName}}</a></td>
<td >

    <a name="delete" class="btn btn-danger" href="{{ctx}}/workflow/delete-deployment?deploymentId={{pd.deploymentId}}"><i class="glyphicon glyphicon-trash"></i>删除</a>
    <a name="start" class="btn btn-primary" href='{{ctx}}/workflow/start-process/{{pd.id}}'><i class="glyphicon glyphicon-play"></i>启动</a>

</td>