<h3 class="page-header">部署流程资源</h3>

<form action="{{ctx}}/workflow/deploy" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputFile">支持文件格式：zip,bar,bpmn,bpmn20.xml</label>
        <input type="file" id="exampleInputFile" name="file">
        <p class="help-block">Example block-level help text here.</p>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<table class="table">
    <thead>
    <tr>
        <th>流程定义id</th>
        <th>部署id</th>
        <th>流程定义名称</th>
        <th>流程定义key</th>
        <th>版本号</th>
        <th>XML资源名称</th>
        <th>图片资源名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    </tbody>

</table>