<div class="container-fluid">
    <button class="btn btn-primary" data-toggle="modal" data-target="#dlgAddGroup">添加Group</button>
    <table class="table" id="grouplist">
        <caption>Group表</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td></td>
            </tr>
        {{/each}}
        <!--
        <c:forEach items="${grouplist}" var="group" varStatus="status">
            <tr>
                <td>${group.id}</td>
                <td>${group.name}</td>
                <td>${group.type}</td>
                <td><div class="btn-group"><a class="btn btn-default disabled" ><i class="glyphicon glyphicon-adjust"></i>修改</a><a name="del" href="${ctx}/identity/group/del/${group.id}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</a></div></td>
            </tr>
        </c:forEach>
        -->
        </tbody>
    </table>
</div>