<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="fragments/dialect-layout">
<!--上述为 layout文件路径-->

<!-- 注意：layout-dialect 当前版本会收到警告，需要关注其版本变化

WARN (nz.net.ultraq.thymeleaf.expressions.ExpressionProcessor:?) - 
Fragment expression "fragments/dialect-layout" is being wrapped as a Thymeleaf 3 fragment expression (~{...}) for backwards compatibility purposes. 
 -->
<head>
	<title>first-template</title>
</head>

<body>
	
</body>

</html>