<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 在配合spring使用使用的时候，这里不需要设置内容 -->
	
	<!-- 所有的映射配置由 org.mybatis.spring.mapper.MapperScannerConfigurer 完成 -->
	<!--  
	<typeAliases>  
        <typeAlias alias="StudentEntity" type="com.manager.data.model.StudentEntity"/>  
    </typeAliases>  
    <mappers>  
        <mapper resource="com/manager/data/maps/StudentMapper.xml" />  
    </mappers>
    -->
</configuration>	
