<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head >

</head>
<body>

	<div class="content" th:fragment="content">
		<div class="header" th:fragment="header">
	    	<div class="stats">
			    <p class="stat"><span class="label label-info">5</span> Tickets</p>
			    <p class="stat"><span class="label label-success">27</span> Tasks</p>
			    <p class="stat"><span class="label label-danger">15</span> Overdue</p>
			</div>

            <h1 class="page-title">Dashboard</h1>
            <ul class="breadcrumb">
	            <li><a th:href="@{/}">Home</a> </li>
	            <li class="active">Dashboard</li>
	        </ul>
        </div>
        <div class="main-content" th:fragment="main-content">

        </div>
	</div>

</body>
</html>