<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="fragments/admin-lte-layout :: page('workflow','process')"
	>
	<!--2017.08.23 使用th:include后 可以完全废弃 layout:decorate="~{fragments/dialect-layout}"  -->
<!--上述为 layout文件路径-->
<head >
	<title>index</title>

</head>

<body>
	<div th:fragment="main-content">
		<h3 th:text="'启动流程 - 【'+${processDefinition.name} + '】, 版本号:'+${processDefinition.version}">启动流程-</h3>
		<form class="form-horizontal" role="form"
		  th:action="@{'/workflow/process/start-process-instance/'+${processDefinition.id}}" method="post">
			
			<div th:if="${hasStartFormKey}" th:utext="${formData}">
			</div>
			<th:block th:if="${hasStartFormKey} == false">
				<div class="form-group" th:each="fp : ${formData.formProperties}">
					<label class="col-md-2  control-label" th:text="${fp.name}"></label>
					<div class="col-sm-10" >
						<input th:if="${fp.type.name == 'string' || fp.type.name == 'long'}"
							th:name="${(fp.writable ? FP_PREFIX : '')+fp.id}" class="form-control" type="text" th:data-type="${fp.type.name}" value="" />
							 
						<input th:if="${fp.type.name == 'date'}"
							th:name="${(fp.writable ? FP_PREFIX : '')+fp.id}" class="form-control" size="16" type="text" value="" >
					</div>
				</div>
			</th:block>
			<div class="form-group">
				<div class="controls">
					<a href="javascript:history.back();" class="btn"><i class="icon-backward"></i>返回列表</a>
					<button type="submit" class="btn"><i class="icon-play"></i>启动流程</button>
				</div>
			</div>
		</form>
		
	</div>
</body>

</html>