<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="fragments/admin-lte-layout :: page('workflow','process')"
	>
	<!--2017.08.23 使用th:include后 可以完全废弃 layout:decorate="~{fragments/dialect-layout}"  -->
<!--上述为 layout文件路径-->
<head >
	<title>index</title>

</head>

<body>
	<div th:fragment="main-content">
	
		<form class="form-horizontal" role="form"
			th:action="@{/workflow/task/complete-task/{id}(id=${task.id})}" method="post">
			
			<div th:if="${hasFormKey}" th:text="${startFormData}">
			</div>
			<th:block th:if="${hasFormKey} == false">
				<div class="form-group" th:each="fp : ${formData.formProperties}">
					<label class="col-md-2  control-label" th:text="${fp.name}"></label>
					<div class="col-sm-10" >
						<input th:if="${fp.type.name == 'string' || fp.type.name == 'long'}"
							th:value="${fp.value}"
							class="form-control" type="text" th:disabled="${fp.writable == false}" th:name="${fp.id}" th:data-type="${fp.type.name}" value="" />
							 
						<input th:if="${fp.type.name == 'date'}" th:data-date-format="${fp.type.getInformation('datePattern')}"
							th:value="${fp.value}"
							id="${fp.id}" name="${fp.id}" th:disabled="${fp.writable == false}" class="form-control" size="16" type="text" value="" >
					
						<select th:if="${fp.type.name == 'enum'}" th:name="${fp.id}" class="form-control">
							<option th:each="item : ${fp.type.getInformation('values')}" th:value="${item.key}" th:text="${item.value}"></option>
						</select>
					</div>
				</div>
			</th:block>
			<div class="form-group">
				<div class="controls">
					<a href="javascript:history.back();" class="btn"><i class="icon-backward"></i>返回列表</a>
					<button type="submit" class="btn"><i class="icon-play"></i>启动流程</button>
				</div>
			</div>
		</form>
		
	</div>
</body>

</html>