<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="fragments/admin-lte-layout :: page('workflow','task')"
	>
	<!--2017.08.23 使用th:include后 可以完全废弃 layout:decorate="~{fragments/dialect-layout}"  -->
<!--上述为 layout文件路径-->
<head >
	<title>task</title>

</head>

<body>
	<div th:fragment="main-content">
		<div class="btn-group">
			<a class="btn btn-primary" th:href="@{task/add}">添加手动任务</a>
		</div>
		<table class="table">
			<caption>Task列表</caption>
			<thead>
				<tr>
					<th>任务ID</th>
					<th>任务名称</th>
					<th>流程实例ID</th>
					<th>创建时间</th>
					<th>到期时间</th>
					<th>优先级</th>
					<th>办理人</th>
					<th>拥有人</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${tasks}">
					<td th:text="${task.id}"></td>
					<td th:text="${task.name}" th:if="${task.processInstanceId}!=null and ${task.parentTaskId}==null"/>
					<td th:text="${task.name}+'(ManualTask)'" th:if="${task.processInstanceId}==null and ${task.parentTaskId}==null"/>
					<td th:text="${task.name}+'(SubTask)'"    th:if="${task.processInstanceId}==null and ${task.parentTaskId}!=null"/>
					<td th:text="${task.processInstanceId}"></td>
					<td th:text="${task.createTime}"></td>
					<td th:text="${task.dueDate}"></td>
					<td th:text="${task.priority}"></td>
					<td th:text="${task.assignee}"></td>
					<td th:text="${task.owner}"></td>
					<td>						
					<!-- 2017.08.29 改为在task form中签收
						<a th:if="${task.assignee} == null" class="btn btn-danger" th:href="@{task/claim-task/{id}(id=${task.id})}">claim</a>
					 -->
						<a class="btn btn-warning" th:href="@{task/get-task-form/{id}(id=${task.id})}">查看</a>
						<a th:if="${task.assignee} != null" class="btn btn-primary" th:href="@{task/get-task-form/{id}(id=${task.id})}">办理</a>
						<a th:if="${task.processInstanceId}==null" class="btn btn-primary" th:href="@{task/delete/{id}(id=${task.id})}">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>

</html>