<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="fragments/admin-lte-layout :: page('workflow','process')"
	>
	<!--2017.08.23 使用th:include后 可以完全废弃 layout:decorate="~{fragments/dialect-layout}"  -->
<!--上述为 layout文件路径-->
<head >
	<title>index</title>

</head>

<body>
	<div th:fragment="main-content">
		<span th:if="${parentTask}">
			<i class="glyphicon glyphicon-info-sign"></i>
			<span th:text="'父任务:'+${parentTask.name}"></span>
		</span>
		<span>
			<i class="glyphicon glyphicon-calendar"></i>
			<span th:text="'到期日：'+(${task.dueDate} == null ? '无到期日' : ${task.dueDate})"/>
		</span>
		
		<span>
			<i class="glyphicon glyphicon-flag"></i>
			<span th:if="${task.priority} >=0 and ${task.priority} <= 19" th:text="'优先级：低'"/>
			<span th:if="${task.priority} >=20 and ${task.priority} <= 39" th:text="'优先级：较低'"/>
			<span th:if="${task.priority} >=40 and ${task.priority} <= 59" th:text="'优先级：一般'"/>
			<span th:if="${task.priority} >=60 and ${task.priority} <= 79" th:text="'优先级：较高'"/>
			<span th:if="${task.priority} >=80 and ${task.priority} <= 100" th:text="'优先级：高'"/>
		</span>
		<span>
			<i class="glyphicon glyphicon-calendar"></i>
			<span th:text="'创建日期：'+${task.createTime}"/>
		</span>
		<form class="form-horizontal" role="form"
			th:action="@{/workflow/task/complete-task/{id}(id=${task.id})}" method="post">
			
			<div th:if="${hasFormKey}" th:utext="${formData}">
			</div>
			<th:block th:if="${hasFormKey} == false and ${task.parentTaskId} == null">
				<div class="form-group" th:each="fp : ${formData.formProperties}">
					<label class="col-md-2  control-label" th:text="${fp.name}"></label>
					<div class="col-sm-10" >
						<input th:if="${fp.type.name == 'string' || fp.type.name == 'long'}"
							th:value="${fp.value}"
							th:name="${(fp.writable ? FP_PREFIX : '')+fp.id}" class="form-control" type="text" th:disabled="${fp.writable == false}" th:data-type="${fp.type.name}" value="" />
							 
						<input th:if="${fp.type.name == 'date'}" th:data-date-format="${fp.type.getInformation('datePattern')}"
							th:value="${fp.value}"
							th:name="${(fp.writable ? FP_PREFIX : '')+fp.id}" th:disabled="${fp.writable == false}" class="form-control" size="16" type="text" value="" >
					
						<select th:name="${FP_PREFIX+fp.id}" th:if="${fp.type.name == 'enum'}" class="form-control">
							<option th:each="item : ${fp.type.getInformation('values')}" th:value="${item.key}" th:text="${item.value}"></option>
						</select>
					</div>
				</div>
			</th:block>
			<th:block th:if="${task.parentTaskId} != null">
				<div class="form-group" >
					<label class="col-md-2  control-label">任务名称</label>
					<div class="col-sm-10" >
						<input th:value="${task.name}" name="name" class="form-control" type="text" disabled />
							 
					</div>
				</div>
				<div class="form-group" >
					<label class="col-md-2  control-label">任务描述</label>
					<div class="col-sm-10" >
						<input th:value="${task.description}" name="description" class="form-control" type="text" disabled />
							 
					</div>
				</div>
			</th:block>
			<div class="form-group">
				<div class="controls">
				<!-- <a href="javascript:history.back();" class="btn"><i class="icon-backward"></i>返回列表</a> -->
					<a th:href="@{/workflow/task}" class="btn"><i class="icon-backward"></i>返回列表</a>
					<a th:if="${task.assignee == null}" th:href="@{/workflow/task/claim-task/{id}(id=${task.id},nextDo=handle)}" type="submit" class="btn btn-danger"><i class="icon-play"></i>Claim</a>
					<th:block th:if="${canUnclaim}">
					<a th:if="${task.assignee != null}" th:href="@{/workflow/task/unclaim-task/{id}(id=${task.id},nextDo=handle)}" type="submit" class="btn btn-danger"><i class="icon-play"></i>反Claim</a>
					</th:block>
					<button th:if="${task.assignee != null}" type="submit" class="btn btn-primary"><i class="icon-play"></i>完成任务</button>
				</div>
			</div>
		</form>
		<i class= "glyphicon glyphicon-plus"></i><a th:href="@{../subtask/add/{id}(id=${task.id})}">添加子任务</a>
		<ul>
			<li th:each="task : ${subTasks}">
				<div style="display:inline-block"><i class="glyphicon glyphicon-ok"></i><span th:text="${task.name}+(${task.endTime} ? ' | (已完成)'+${task.endTime}:'')"></span></div>
				
				<a th:href="@{../subtask/delete/{taskId}(taskId=${task.id},parentTaskId=${task.parentTaskId})}" th:if="${task.endTime} == null">删除</a>
			</li>
		</ul>
		<div class="btn-group">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addComment">添加审批意见</button>
		</div>
		<h3>意见列表</h3>
		<ul>
			<li th:each="comment : ${comments}" th:text="${comment.userId} +' 的意见['+${taskNames[task.id]}+']：'+${comment.fullMessage} +' ,发表于 '+${comment.time}"></li>
		</ul>
		<!-- 模态框（Modal） -->
			<div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="myModalLabel">
								创建审批意见
							</h4>
						</div>
						<form class="form-horizontal" role="form"
							action="${logoutUrl}" th:action="@{../comment/add/{taskId}(taskId=${task.id},processInstanceId=${task.processInstanceId},${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data"
							>
							<div class="modal-body">
								<div class="form-group">
									<label for="lastname" class="col-sm-2 control-label">审批意见</label>
									<div class="col-sm-10">
										<input type="text" name="message" >
									</div>
								</div>
							</div>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭
								</button>
								<button type="submit" class="btn btn-primary">
									上传
								</button>
							</div>
						</form>
						
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
	</div>
</body>

</html>